* {
  margin: 0;
  border: 0;
  padding: 0;
}
body {
  background: #DCDCDC;
}
.container {
  position: relative;
  z-index:100;
  height: 405px;
  width: 235px;
  margin: 50px auto 0 auto;
  border-radius: 5px;
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#display {
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  background: linear-gradient(to top right, rgba(255,0,0,0.7), rgba(255,255,0,0.6));
  border-top-right-radius:6px;
  border-top-left-radius:6px;
  height: 120px;
  width: 235px;
}
button {
  font-weight: bold;
  font-family: Century Gothic, sans-serif;
  font-size: 18px;
  width:58.75px;
  height:57px;
  text-align:center;
  display:inline-block;
  float:left;
  cursor: pointer;
  transition-duration: 0.4s;
}
.graybuttons:hover {
  background-color:#F5F5F5;
}
button:hover {
  background-color: #e7e7e7;
}
.zero{
  width: 117.5px;
  border-bottom-left-radius:6px;
  background:#F5F5F5;
}
.equal {
  border-bottom-right-radius:6px;
}
.whitecolor {
  background:#F5F5F5;
}
.gradientback {
  background: linear-gradient(to top right, rgba(255,0,0,0.7), rgba(255,255,0,0.6));
}
.gradientcolor {
  color:#DB7093;
}
@media (max-width:768px)  {
  .container {
    width: 100%;
    height: 100%;
    position:relative;
    margin: auto;
  }
  #display {
    width: 100%;
    height: 30%;
  }
  button {
    width:25%;
    height: 14%;
  }
  .zero {
    width: 50%;
    height: 14%;
  }
}
