#footer {
	font-family: "lato";
	font-size: 18px;
	text-align: center;

	.container {
		width: 100%;
	}
}


@media screen and (min-width: 768px) {
	#footer {

		.container {
			width: 81%;
			margin: 0 auto;
			display: flex;
			justify-content: space-between;
		}
	}
}